li.bookmarkRoot {
  list-style: none;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

li.bookmarkRoot div.bookmarkLine {
  display: flex;
  align-items: center;
  flex-direction: row;
}

li.bookmarkRoot span {
  padding-left: 0.5rem;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.bookmarkRoot div.bookmarkDetails {
  padding-top: 0.5rem;
  margin-left: 1.85rem;
}

li.bookmarkRoot button {
  border: none;
  background: none;
  padding: 0.25rem;
  height: 1rem;
  width: 1rem;
  line-height: 0.5rem
}

li.bookmarkRoot button.details {
  border: none;
  background: none;
  padding: 0.25rem;
  height: 1.4rem;
  width: 1.4rem;
}

li.bookmarkRoot button.details {
  border-radius: 999px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(150, 150, 150, 0.0);
  font-size: 1.2rem;
  transition: border-color 0.3s;

}

li.bookmarkRoot button.details:hover {
  border: 1px solid rgba(150, 150, 150, 1.0);
}