div.bookmarkRoot {
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  background-color: #ccc;
}

div#bookmarkStack input[type="text"].search {
  padding: 0.5rem;

  border: 1px solid #aaa;

}

div.bookmarkRoot div.bookmarkLine {
  display: flex;
  align-items: center;
  flex-direction: row;
}

div.bookmarkRoot span {
  padding-left: 0.5rem;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* div.bookmarkRoot div.bookmarkDetails {
  
  margin-left: 1.85rem;
} */

div.bookmarkRoot div.bookmarkLine div.bookmarkDetails ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.bookmarkRoot button {
  border: none;
  background: none;
  padding: 0.25rem;
  height: 1rem;
  width: 1rem;
  line-height: 0.5rem
}

div.bookmarkRoot button.details {
  border: none;
  background: none;
  padding: 0.25rem;
  height: 1.4rem;
  width: 1.4rem;
}

div.bookmarkRoot button.details {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(150, 150, 150, 0.0);
  background-color: #000;
  font-size: 1rem;
  transition: border-color 0.3s;


}

div.bookmarkRoot button.details:hover {
  border: 1px solid rgba(150, 150, 150, 1.0);
}


@media(prefers-color-scheme: dark) {
  div.bookmarkRoot {
    background-color: #444;
  }

  div#bookmarkStack input[type="text"].search {
    background-color: #333;
    color: #eee;
  }

  div.bookmarkRoot button {
    color: #eee;
  }

  div.bookmarkRoot button.details {
    border-color: rgba(150, 150, 150, 0.0);
  }

  div.bookmarkRoot button.details:hover {
    border: 1px solid rgba(150, 150, 150, 1.0);
  }
}