html {
  font-size: 20px;
  height: 100%
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;

}

a {
  text-decoration: none;
  color: #0272b8;
}

a:hover {
  text-decoration: underline;
}

button {
  box-sizing: border-box;
  cursor: pointer;
  color: #222;
  padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #eee;
  }

  button {
    background-color: #444;
    color: #eee;
  }
}